<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OS11.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OS11.Properties.Settings>
            <setting name="algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numRuns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRunTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="avgRunTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="lastRunTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </OS11.Properties.Settings>
    </userSettings>
</configuration>